<style>
    
    .item-container, .total-container{
        background-color: #f9f9f9;
        border-radius: 0.5em;
        color: #585858;
    }
    .total-container{
        box-shadow: 3px 3px 3px #f3f3f3;
    }
    .itemButton >*{
        height: 2.5em;
        margin: 0.2em
    }
</style>
<section class="" style="margin-top: 10em;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                
                {{#each cartItems}}
                    {{#each this.products}}
                    <div class="row m-3 border item-container">
                        <div class="edit-item col-md-1 d-flex justify-content-center align-items-center">
                            <input type="checkbox" name="" id="item-checked" class="" checked style="height:1em;width:1em">
                        </div>
                        <div class="item col-md-11">
                            <div class="row">
                                <img src="/images/product-images/{{this._id}}.png" alt="" class="col-md-3 p-2" style="">
                                <div class="col-md-6 p-5">
                                    <h4>{{this.name}}</h4>
                                    <h5>Price : {{this.price}}</h5>
                                    <div class="itemButton col-12">
                                        <button class="btn btn-secondary" onclick="changeQuantity('{{../_id}}', '{{this._id}}', -1)">-</button>
                                            <input type="text" id="{{this._id}}" style="width: 3em;text-align:center" value="{{../quantity}}">
                                        <button class="btn btn-secondary" onclick="changeQuantity('{{../_id}}', '{{this._id}}', 1)">+</button>
                                        <button class="btn btn-secondary float-right" style="background-color:rgb(206, 74, 74)" onclick="removeCartItem('{{../_id}}', '{{this._id}}')">Remove from cart</button>
                                    </div>
                                </div>
                                {{!-- <div class="col-md-3 d-flex justify-content-center align-items-center">
                                    <h5>Rs. 20000</h5>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                {{/each}}
                
            </div>
            <div class="col-md-3 p-3 h-100 total-container">
                <div class="sample m-2">
                    <h4>Subtotal : Rs. <span id="total">{{totalAmount}}</span></h4><br>

                        {{#each cartItems}}
                            {{#each products}}
                                <i style="font-size:1.2em">{{this.name}} ( x {{../quantity}} )</i><br>
                            {{/each}}
                        {{/each}}

                    <a href="/place-order" class="btn btn-warning">Proceed to Buy</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.querySelectorAll('#item-checked').forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            const div = checkbox.closest('.item-container');
            if (!checkbox.checked) {
                div.style.opacity = 0.3;
            }
            else{
                div.style.opacity = 1;
            }
        });
    });

    
</script>