<section class="w-100" style="position:absolute;z-index: -2;padding:5em">
    <div class="container mt-5">
        <div class="row ">

            {{#each products}}

                <div class="col-md-3 mb-4">
                    <div class="card w-100">
                        <img src="/images/product-images/{{this._id}}.png" class="card-img-top" alt="..." style="height: 23em;">
                        <div class="card-body">
                            <h4 class="card-title">{{this.name}}</h4>
                            <h5 class="card-text">{{this.category}}</h5>
                            <h4 class="card-text">Rs.{{this.price}}</h4>
                            <h5 class="card-text">Rating: {{this.rating}}⭐</h5>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div> 

            {{/each}}

        </div>
    </div>
</section>